:root {
  /* Font-Colors */
  --font-comment:#1b998b;
  --font-class:#E17400;
  --font-itemTitle:#fe7f2d;
  --font-this: #d62828;
  --font-period: #E17400;
  --font-equal: #fe7f2d;
  --font-text-light:#fbf5f3;
  --font-string: #1b998b;
  --font-important: #d62828;
  /* List item colors */
  --item-border-left: gray;
  /* Background colors */
  --background-light: #3a506b;
  --background-mid: #1c2541;
  --background-dark: #0b132b;
  /* List title colors */
  --list-title-bottom-border:#E17400;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  line-height: 2.0;
}

#main {
  height: inherit;
  width: inherit;
}

p {
  margin: 0 0.5em;
}

/* App styles */

.app-user-opened {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 30%;
  grid-template-rows: 4% 1fr;
  grid-template-areas:
    "header header header"
    "sidebar lists user";
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 0%;
  grid-template-rows: 4% 1fr;
  grid-template-areas:
    "header header header"
    "sidebar lists user";
}

/* End of app styles */

/* Header styles */
.header-section {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo messages user";
  grid-template-columns: 1fr 40% 1fr;
}

.header-logo {
  grid-area: logo;
  max-width: 50px;
}

.header-messages {
  grid-area: messages;
}

.header-user {
  grid-area: user;
  justify-items: end;
}

/* End of Header styles */

.sidebar {
  grid-area: sidebar;
  text-align: center;
  background-color: var(--sidebar-bkg-color);
}

.sidebar-lists {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar-list-button {
  width: 50%;
  margin: 10px;
}


.list-section {
  grid-area: lists;
}

/* List styles */

.list-box {
  background-color: var(--background-light);
}

.list-heading {
  background-color: var(--background-light);
  border-bottom: 1px solid var(--background-dark);
}

.list-title-tab {
  width: 250px;
  background-color: var(--background-mid);
  border-bottom: 2px solid var(--font-class);
}

.list-title {
  color: var(--font-text-light);
  margin: 0;
  text-align: center;
  padding: 5px 10px;
}

.list-items {
  display: grid;
  grid-template-columns: 5% 1fr;
}

/* End of list styles */

/* Item styles */

.list-item-box {
  background-color: var(--background-light);
  grid-column: 2 / -1;
}

.item-indent {
  padding-left: 20px;
}

.item-text {
  color: var(--font-text-light);
}

.item-comment{
  color: var(--font-comment);
}

.item-class{
  color: var(--font-class);
}

.item-title {
  color: var(--font-itemTitle);
}

.item-this {
  color: var(--font-this);
}

.item-period {
  color: var(--font-period);
}

.item-equal {
  color: var(--font-equal);
}

.item-string {
  color: var(--font-string);
}

.item-link {
  color: var(--font-string);
}

.item-cost-symbol {
  max-width: 25px;
  color: white;
}

.item-voter {
}

.total-votes-span {
}

/* End of item styles */

/* User styles */

.user-section {
  grid-area: user;
}

/* End of user styles */

.edit-btn {
  min-width: 25px;
  min-height: 25px;
  background: url("/images/cog.svg") center / 25px 25px no-repeat;
}

.vote-btn {
  height: 50px;
  cursor: pointer;
}

.vote-btn:nth-of-type(1) {
  background: url("/images/thumbs-up.svg") center / 25px 25px no-repeat;
}
.vote-btn:nth-of-type(2) {
  background: url("/images/thumbs-down.svg") center / 25px 25px no-repeat;
}

.add-list-div {
  padding: 10px;
  margin: 10px 0;
}

.add-listitem-div {
  padding: 10px;
  margin: 10px 0;
}

form {
  margin: 10px 5px;
}
