:root {
  /* Font-Colors */
  --font-comment: #1b998b;
  --font-class: #e17400;
  --font-itemTitle: #d62828;
  --font-this: #d62828;
  --font-period: #e17400;
  --font-equal: #fe7f2d;
  --font-text-light: #fbf5f3;
  --font-string: #1b998b;
  --font-important: #d62828;
  /* List item colors */
  --item-border-left: gray;
  /* Background colors */
  --background-light: #3a506b;
  --background-mid: #1c2541;
  --background-dark: #0b132b;
  /* List title colors */
  --list-title-bottom-border: #e17400;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  line-height: 2;
}

#main {
  height: inherit;
  width: inherit;
}

p {
  margin: 0 0.5em;
}

/* App styles */

.app-user-opened {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 30%;
  grid-template-rows: 4% 1fr;
  grid-template-areas:
    "header header header"
    "sidebar lists user";
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 0%;
  grid-template-rows: 4% 1fr;
  grid-template-areas:
    "header header header"
    "sidebar lists user";
}

/* End of app styles */

/* Header styles */
.header-section {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo messages user";
  grid-template-columns: 1fr 40% 1fr;
  background-color: var(--background-light);
  border-bottom: 1px solid var(--background-mid);
}

.header-logo {
  grid-area: logo;
  max-width: 50px;
}

.header-messages {
  grid-area: messages;
}

.header-user {
  grid-area: user;
  justify-items: end;
}

/* End of Header styles */

/* Sidebar styles */

.section-sidebar {
  grid-area: sidebar;
  padding-left: 15%;
  padding-top: 15px;
  background-color: var(--background-dark);
  color: var(--font-text-light);
  border-right: 1px solid var(--background-light);
}

.sidebar-section-title {
  text-transform: uppercase;
  margin: 0;
}

.sidebar-list-title {
  margin: 0;
}

.sidebar-lists-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.sidebar-list-button {
  padding: 5px 0 5px 15px;
  max-width: 90%;
  text-align: left;
  cursor: pointer;
  border: none;
  font: inherit;
  font-size: 0.9em;
  background-color: var(--background-dark);
  color: var(--font-text-light);
}

/* End of sidebar styles */

/* List styles */

.list-section {
  grid-area: lists;
  background-color: var(--background-light);
}

.list-box {
  background-color: var(--background-light);
}

.list-tab-wrapper {
  display: grid;
  background-color: var(--background-light);
  border-bottom: 1px solid var(--background-dark);
  grid-template-columns: auto 5% 1fr;
}

.list-title-tab {
  background-color: var(--background-mid);
  border-bottom: 2px solid var(--font-class);
  grid-column: 1 / 2;
}

.list-title {
  color: var(--font-text-light);
  margin: 0;
  text-align: center;
  padding: 5px 10px;
}

.list-items {
  display: grid;
  grid-template-columns: 5% 1fr;
}

.list-number {
  color: var(--font-text-light);
  grid-column: 1 / 1;
  text-align: center;
}

/* End of list styles */

/* Edit Button styles */

.edit-list-btn {
  grid-column: 2 / 3;
  background-image: url("/images/cog.svg");
  background-color: var(--background-mid);
  border: none;
  border-bottom: 2px solid var(--font-class);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

/* End of Edit Button styles */

/* Item styles */

.list-numbers-box {
  background-color: var(--background-mid);
  grid-column: 1 / 2;
}

.list-item-box {
  background-color: var(--background-light);
  grid-column: 2 / -1;
}

.item-indent {
  padding-left: 20px;
}

.item-text {
  color: var(--font-text-light);
}

.item-comment {
  color: var(--font-comment);
}

.item-class {
  color: var(--font-class);
}

.item-title {
  color: var(--font-itemTitle);
}

.item-this {
  color: var(--font-this);
}

.item-period {
  color: var(--font-period);
}

.item-equal {
  color: var(--font-equal);
}

.item-string {
  color: var(--font-string);
}

.item-link {
  color: var(--font-string);
}

.item-number {
  color: var(--font-important);
}

.item-voter {
  padding-left: 0.5em;
  display: grid;
  grid-template-columns: 120px 120px 30px 1fr;
  grid-template-rows: 30px;
}

.vote-btn {
  text-transform: uppercase;
  text-align: left;
  max-width: 120px;
  max-height: 35px;
  cursor: pointer;
  color: var(--font-text-light);
  font-size: 0.8em;
  background-color: var(--background-light);
  border: none;
}

.edit-item-btn {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  background-image: url("/images/cog.svg");
  background-color: var(--background-light);
  border: none;
  cursor: pointer;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

/* End of item styles */

/* User styles */

.user-section {
  grid-area: user;
  background-color: var(--background-light);
}

.user-tab-wrapper {
  display: grid;
  background-color: var(--background-light);
  border-bottom: 1px solid var(--background-dark);
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.user-title-tab {
  background-color: var(--background-mid);
  border-bottom: 2px solid var(--font-class);
}

.user-title {
  color: var(--font-text-light);
  margin: 0;
  text-align: center;
  padding: 5px 10px;
}

/* End of user styles */

.add-list-div {
  padding: 10px;
  margin: 10px 0;
}

.add-listitem-div {
  padding: 10px;
  margin: 10px 0;
}

form {
  margin: 10px 5px;
}
